<section class="vh-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <!-- Nawigacja boczna -->
      <div class="col-sm-2 bg-light border-end p-4 d-flex flex-column">
        <h3 class="fw-bold mb-4">Zaraz Zrobimy™</h3>
        <ul class="nav flex-column flex-grow-1">
          <li class="nav-item">
            <a class="nav-link py-2 px-3 rounded" style="cursor: pointer; text-decoration: none; color: black;"
               [ngClass]="{'active text-white bg-primary': activeComponent === 'inventory'}"
               (click)="activeComponent = 'inventory'">
              📦 Zarządzanie inwentarzem
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 px-3 rounded" style="cursor: pointer; text-decoration: none; color: black;"
               [ngClass]="{'active text-white bg-primary': activeComponent === 'add-item'}"
               (click)="activeComponent = 'add-item'">
              ➕ Dodaj kupiony przedmiot
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 px-3 rounded" style="cursor: pointer; text-decoration: none; color: black;"
               [ngClass]="{'active text-white bg-primary': activeComponent === 'pawns'}"
               (click)="activeComponent = 'pawns'">
              🫰 Zarządzaj zastawami
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 px-3 rounded" style="cursor: pointer; text-decoration: none; color: black;"
               [ngClass]="{'active text-white bg-primary': activeComponent === 'history'}"
               (click)="activeComponent = 'history'">
              📜 Historia operacji
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 px-3 rounded" style="cursor: pointer; text-decoration: none; color: black;"
               [ngClass]="{'active text-white bg-primary': activeComponent === 'reports'}"
               (click)="activeComponent = 'reports'">
              📊 Raporty i statystyki
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 px-3 rounded" style="cursor: pointer; text-decoration: none; color: black;"
               [ngClass]="{'active text-white bg-primary': activeComponent === 'employees'}"
               (click)="activeComponent = 'employees'">
              👥 Zarządzanie pracownikami
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-2 px-3 rounded" style="cursor: pointer; text-decoration: none; color: black;"
               [ngClass]="{'active text-white bg-primary': activeComponent === 'customers'}"
               (click)="activeComponent = 'customers'">
              🤝 Lista Klientów
            </a>
          </li>
          <button class="btn btn-danger mt-5 w-max" (click)="logout()">⏻ Wyloguj się</button>
        </ul>
      </div>
      <div class="col-sm-9 p-5 bg-white overflow-auto">
        <app-inventory *ngIf="activeComponent === 'inventory'"></app-inventory>
        <app-add-item *ngIf="activeComponent === 'add-item'"></app-add-item>
        <app-pawns *ngIf="activeComponent === 'pawns'"></app-pawns>
        <app-history *ngIf="activeComponent === 'history'"></app-history>
        <app-reports *ngIf="activeComponent === 'reports'"></app-reports>
        <app-employees *ngIf="activeComponent === 'employees'"></app-employees>
        <app-customers *ngIf="activeComponent === 'customers'"></app-customers>
      </div>
    </div>
  </div>
</section>
